.content-info {
  background-color: #313a41;
  color: $grey-nav;
  height: 50vh;
  margin-top: 200px;

  .container {
    max-width: 1000px;
  }

  strong {
    font-size: 15px;
    color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        color: $grey-nav;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .col-md-4 {
    &::before {
      position: absolute;
      left: -25px;
      top: 0;
      content: "";
      width: 1px;
      height: 275px;
      border: 1px solid $grey-nav;

      @include media-breakpoint-down(md) {
        content: none;
      }
    }

    &::after {
      position: absolute;
      right: 25px;
      top: 0;
      content: "";
      width: 1px;
      height: 275px;
      border: 1px solid $grey-nav;

      @include media-breakpoint-down(md) {
        content: none;
      }
    }
  }

  .social-media {
    margin: 20px 0;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    padding: 90px 0;
  }
}

.home {
  .content-info {
    margin-top: 0;
  }
}
