/**
 * Header
 */

.navbar {
  font-size: 14px;
}

.navbar-brand {
  font-weight: bold;
}

.menu-item {
  @extend .nav-link;
}

.menu-item a {
  @extend .nav-item;
}

.menu-item-has-children {
  @extend .dropdown;
}

.dropdown-menu {
  width: 190px;
  margin-top: -1px;
  font-size: 14px;
  border-radius: 0 0 10px 10px !important;
  padding: 0;

  .nav-link,
  .nav-item {
    padding: 0.25rem 0.25rem !important;
    border-radius: 0 !important;
    color: #313a41 !important;

    &:hover {
      color: #fff !important;
    }

    &:first-child {
      border-radius: 0 !important;
    }

    &:last-child {
      border-radius: 0 0 10px 10px !important;
    }
  }
}

@include media-breakpoint-up(lg) { 
  .dropdown:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.navbar-dark {
  .navbar-nav {
    .menu-item,
    .nav-link {
      color: #fff;
      padding: 0.25rem 0.65rem;

      &:first-child {
        border-radius: 5px 0 0 5px;

        @include media-breakpoint-down(lg) {
          border-radius: 0;
        }
      }

      &:last-child {
        border-radius: 0 5px 5px 0;

        @include media-breakpoint-down(lg) {
          border-radius: 0;
        }
      }

      &:hover {
        color: #404f5c;
        background-color: #7f858b;
      }
    }

    .active {
      color: #404f5c;
      background-color: #7f858b;
    }
  }
}

.navbar-light {
  .navbar-toggler {
    #nav-icon3 span {
      background: #32424f;
    }
  }

  .navbar-nav {
    .menu-item,
    .nav-link {
      color: #313a41;
      padding: 0.25rem 0.65rem;
      border-radius: 0;

      &:hover {
        color: #fff;
        background-color: #acddeb;
      }
    }

    .active {
      background-color: #ededed;
    }

    .active a {
      color: #2b5672 !important;
    }
  }
}

@include media-breakpoint-down(lg) {
  header {
    .navbar-nav {
      .menu-item,
      .nav-link {
        color: #fff !important;
        padding: 0.65rem 0.65rem !important;
        border-radius: 0;

        &:hover {
          color: #fff !important;
          background-color: #7f858b !important;
        }
      }

      .active {
        background-color: #fff !important;

        &:hover {
          background-color: #fff !important;
        }

        .nav-link {
          color: #404f5c !important;
          background-color: #fff !important;
        }
      }

      .dropdown-menu {
        width: 100%;
        margin-top: -1px;
        font-size: 14px;
        border-radius: 0 !important;
        padding: 0;
        border: 0;

        .nav-link,
        .nav-item {
          padding: 0.25rem 0.25rem !important;
          border-radius: 0 !important;
          color: #fff !important;
          background-color: #7f858b !important;

          &:hover {
            color: #313a41 !important;
            background-color: #fff !important;
          }
        }
      }
    }
  }
}

/*
 * Mobile Navbar
 **/

.navbar-toggler {
  padding: 0.6rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: transparent;
}

.toggler-open {
  background-color: #fff;
  border-color: #fff;

  #nav-icon3 span {
    background: #000;
  }
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 30px;
  height: 22.5px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4.5px;
  width: 100%;
  background: #fff;
  border-radius: 4.5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon3 {
  transform: scale(0.7);
}

@include media-breakpoint-down(lg) {
  .navbar-toggler {
    z-index: 102;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 35%;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    transition: all 0.4s ease;
    display: block;
    background-color: #32424f;
    z-index: 100;
    overflow: auto;
    overflow-y: scroll !important;
  }

  .navbar-collapse.collapsing {
    height: auto !important;
    margin-left: 50%;
    left: 50%;
    transition: all 0.2s ease;
  }

  .navbar-collapse.show {
    right: 0;
  }
}

@include media-breakpoint-down(lg) {
  .menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
  }
}

.search-form {
  .input-group {
    ::-webkit-input-placeholder {
      font-weight: 300 !important;
      font-size: 13px;
    }

    .form-control {
      min-width: 225px;
      font-size: 14px;
      border-radius: 10px 0 0 10px;
      border: 1px solid #ddd;
      padding: 0.4rem 1.25rem 0.5rem 1.25rem;
    }

    .btn-danger {
      border-radius: 0 10px 10px 0;
      font-size: 14px;
      background-color: #2a5672;
      border-color: #2a5672;
      padding: 0.35rem 1rem;
    }
  }
}

.mobile-overflow-fix {
  overflow-y: hidden;
}
