/**
 * Header
 */

.navbar-brand {
  font-weight: bold;
}

.menu-item {
  @extend .nav-link;
}

.menu-item a {
  @extend .nav-item;
}

.menu-item-has-children {
  @extend .dropdown;
}

.dropdown-menu {
  margin-top: -10px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar-dark {
  .navbar-nav {
    .menu-item,
    .nav-link {
      color: #fff;
      padding: 0.25rem 0.65rem;

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      &:hover {
        color: #404f5c;
        background-color: #7f858b;
      }
    }

    .active {
      color: #404f5c;
      background-color: #7f858b;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .menu-item,
    .nav-link {
      color: #313a41;
      padding: 0.25rem 0.65rem;

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      &:hover {
        color: #fff;
        background-color: #acddeb;
      }
    }

    .active {
      background-color: #ededed;
    }

    .active a {
      color: #2b5672 !important;
    }
  }
}

.search-form {
  .form-control {
    font-size: 14px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ddd;
  }

  .btn-danger {
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    background-color: #2a5672;
    border-color: #2a5672;
  }
}
