/**
 * Global
 */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

a {
  color: map-get($theme-colors, 'primary');

  &:hover {
    text-decoration: none;
  }
}

small {
  font-size: 14px;
}

.container {
  max-width: 1275px;
}

.hero-heading {
  color: $ligh-blue;
  font-size: 25px;
  font-weight: bold;
}

.sub-heading {
  color: $dark-heading;
  font-size: 50px;
  font-weight: bold;
}

.page-header {
  position: relative;
  background-color: #33536c;
  color: #fff;
  margin-bottom: 70px;
}

.page-title {
  font-size: 30px;
  color: #32536b;
  font-weight: 600;
}

.search {
  .page-header {
    .container {
      &::after {
        content: '';
        position: absolute;
        top: 65px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 52.5px 0 52.5px;
        border-color: #33536c transparent transparent transparent;
      }
    }
  }
}

#breadcrumbs {
  font-size: 14px;

  @include media-breakpoint-down(md) {
    font-size: 13px;
  }

  a {
    color: #fff;

    &:hover {
      color: darken($color: #fff, $amount: 20%);
    }
  }
}

.pagination {
  .next,
  .prev {
    display: none !important;
  }

  .page-numbers {
    width: 28px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    color: #9a9a9a;
    font-size: 12px;
  }

  .current {
    background-color: #ebebeb;
    color: $dark-heading;
  }
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}
