/**
 * Global
 */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

a {
  color: map-get($theme-colors, 'primary');
  
  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 1275px;
}

.hero-heading {
  color: #2aa8cc;
  font-size: 25px;
  font-weight: bold;
}

.sub-heading {
  color: #3c3c3c;
  font-size: 50px;
  font-weight: bold;
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}

