# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/advanced-custom-fields-pro-master
!web/app/plugins/contact-form-7
!web/app/plugins/safe-svg
!web/app/plugins/stock-management
!web/app/plugins/wp-sync-db
!web/app/plugins/wp-sync-db-media-files
!web/app/plugins/filebird
!web/app/plugins/post-types-order
!web/app/plugins/permalink-manager-pro
!web/app/plugins/media-library-plus
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
