# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/advanced-custom-fields-pro-master
!web/app/plugins/stock-management
!web/app/plugins/wp-sync-db
!web/app/plugins/wp-sync-db-media-files
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
