/**
 * Home
 */

.home {
  overflow-x: hidden;
}

.home-hero {
  background: rgb(40, 50, 59) !important;
  background: linear-gradient(90deg, rgba(40, 50, 59, 1) 0%, rgba(50, 66, 79, 1) 100%) !important;
  font-weight: 300;

  .bg-wrapper {
    min-height: 600px;
  }

  .hero-wrapper {
    max-width: 550px;
    min-height: 551px;
    color: #fff;

    @include media-breakpoint-down(md) {
      padding: 10px 0;
    }
  }

  #typed {
    font-size: 100px;
    font-weight: bold;
    min-height: 150px;

    @include media-breakpoint-down(md) {
      font-size: 60px;
      font-weight: bold;
      min-height: 100px;
    }
  }

  .hero-heading {
    font-weight: 600;
  }

  .hero-text {
    margin: 30px 0 50px 0;
  }

  .hero-buttons {
    .btn-danger {
      background-color: #d4d4d4;
      border-color: #d4d4d4;
      color: #34393e;
      font-size: 13px;
      font-weight: 500;
      padding: 15px 45px;

      &:hover {
        background-color: $ligh-blue;
        border-color: $ligh-blue;
      }
    }

    .btn-outline-danger {
      color: #feffff;
      font-size: 13px;
      font-weight: 500;
      padding: 15px 15px;
      border: 3px solid #d4d4d4;

      &:hover {
        background-color: $ligh-blue;
        border-color: $ligh-blue;
      }
    }

    @include media-breakpoint-down(md) {
      margin: 0 auto;
      width: 250px;

      .btn-danger {
        width: 200px;
        padding: 15px 15px;
      }

      .btn-outline-danger {
        width: 200px;
        padding: 15px 15px;
      }
    }
  }
}

.home-browse {
  color: #b5b5b5;
  min-height: 40vh;
  margin-top: 100px;
  font-weight: 300;

  .hero-heading {
    margin-bottom: -5px;
  }

  .text-bold {
    font-size: 17px;
    font-weight: 600;
    color: $dark-heading;
    margin-bottom: 5px;
  }
}

.home-spotlight {
  color: $dark-heading;
  margin-bottom: 0;
  min-height: 752px;
  background-position: absolute top -100px !important;

  @include media-breakpoint-down(md) {
    background-image: none !important;
    margin-top: 50px;
    min-height: 0;

    .splat-mobile {
      height: 260px;
      background-size: cover !important;
      background-position: top 50px !important;
    }
  }

  .splat-wrapper {
    position: relative;

    .home-product {
      position: absolute;
      z-index: 1;
      left: 40px;
      top: 200px;

      @include media-breakpoint-down(md) {
        left: 30px;
        top: 80px;
        width: 65%;
      }
    }

    .splat-bg {
      position: absolute;
      left: -200px;
      width: 820px;
      height: 513px;

      @include media-breakpoint-down(md) {
        left: -50px;
        top: -20px;
        width: 420px;
        height: auto;
      }
    }
  }

  .text-wrapper {
    max-width: 492px;
    padding-top: 100px;

    @include media-breakpoint-down(md) {
      padding-top: 0;
    }

    .hero-heading {
      font-size: 18px;
      margin-bottom: -5px;
    }
  }

  .home-spotlight-text {
    min-height: 40vh;
    display: flex;
    font-weight: 300;

    @include media-breakpoint-down(md) {
      min-height: 5vh;
    }
  }

  .sub-heading {
    font-weight: 600;
  }

  .btn-outline-danger {
    font-size: 13px;
    border: 3px solid $ligh-blue;
    padding: 0.5rem 1.5rem;
    color: $dark-heading;

    &:hover {
      background-color: $ligh-blue;
      color: #fff;
    }
  }
}

.home-featured {
  margin-top: -50px;
  margin-bottom: 100px;

  @include media-breakpoint-down(md) {
    margin-top: 100px;
  }

  .hero-heading {
    font-size: 18.5px;
  }

  .sub-heading {
    margin-top: -5px;
    font-size: 40px;
  }

  .bt-line {
    background-color: #e5e5e5;
    height: 1px;
    width: 50px;
  }
}

.home-work-with-us {
  min-height: 631px;
  color: #fff;
  font-weight: 300;
  background-size: cover !important;
  background-position: fixed !important;

  @include media-breakpoint-down(md) {
    padding: 100px 0;
  }

  .hero-heading {
    color: #71c299;
    font-size: 20px;
    font-weight: bold;
  }

  .sub-heading {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 30px;
  }

  .text-bold {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
  }
}

.home-help {
  min-height: 700px;
  color: #fff;
  font-weight: 300;
  background-color: #70c399 !important;

  a { color: #fff; }

  @include media-breakpoint-down(md) {
    padding: 100px 0;
  }

  .home-help-wrapper {
    max-width: 650px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 0 10px;
    }
  }

  .sub-heading {
    font-size: 60px;
    color: #fff;
    font-weight: 200;
    margin-bottom: 30px;
    line-height: 3.5rem;
  }

  .text-bold {
    //font-size: 17px;
    font-weight: bold;
    //color: $dark-heading;
    //margin-bottom: 5px;
  }

  .hero-heading {
    color: #fff;
    margin-top: 50px;
  }
}
