/**
 * Archive - Gadgets & USB Drives
 */

.hero-prod-heading {
  font-size: 35px;
  font-weight: bold;
}

.hero-category {
  margin-bottom: 70px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.hero-product {
  background: rgb(40, 50, 59) !important;

  .prod-bg-wrapper {
    min-height: 40vh;
  }
}

.hero-tax {
  background: #32424f !important;

  .hero-tax-wrapper {
    min-height: 30vh;
  }
}

.product-list {
  .prod-name {
    font-size: 16px;
    margin: 15px 0 5px 0;
    margin-bottom: 10px;
  }

  .category-name {
    font-size: 13px;
    margin-bottom: 15px;
    color: #2aa8cc;
    text-transform: uppercase;
  }

  .prod-glass {
    position: absolute;
    bottom: 0;
    right: 12.5%;
  }

  .bt-line-prod {
    background-color: #e5e5e5;
    height: 1px;
    width: 80%;
  }
}

/**
 * Single - Gadgets & USB Drives - Global styles
 */

.gadgets-product,
.usb-product {
  font-weight: 300;
  color: #808080;

  .entry-title {
    font-weight: bold;
    font-size: 25px;
    color: #3c3c3c;
  }

  b {
    color: #3c3c3c;
    font-size: 17px;
    font-weight: bold;
  }

  .prod-img-bg {
    background-color: #f6f7f9;
  }

  .modal-wrapper {
    .sub {
      color: #3c3c3c;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

/**
 * Modal Styles
 **/

.modal-dialog {
  max-width: 832px;
  margin: 1.75rem auto;

  .modal-header {
    display: block;
    border: 0;
  }

  .modal-title {
    font-size: 45px;
    font-weight: bold;
    color: #3c3c3c;
  }

  .modal-body {
    padding: 0 75px 75px 75px;

    .modal-hero-text {
      padding: 0 30px;
      margin-bottom: 40px;
    }
  }
}
