/**
 * Archive - Gadgets & USB Drives
 */

hr {
  margin-top: 1.2rem;
  margin-bottom: 4rem;
  border: 0;
  border-top: 1px solid #bfbfbf;
}

.form-control-sm {
  margin-top: -5px;
}

.prod-res {
  font-size: 14px;
  color: #848483;
  font-weight: 300;
}

.hero-prod-heading {
  font-size: 35px;
  font-weight: bold;
}

.hero-category {
  margin-bottom: 70px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.hero-product {
  background: rgb(40, 50, 59) !important;

  .prod-bg-wrapper {
    min-height: 40vh;
  }
}

.hero-tax {
  background: #32424f !important;

  .hero-tax-wrapper {
    min-height: 30vh;
  }
}

.product-list {
  a {
    color: $dark-heading;
  }

  .prod-name {
    font-size: 16px;
    margin: 15px 0 5px 0;
    margin-bottom: 10px;
  }

  .category-name {
    font-size: 13px;
    margin-bottom: 15px;
    color: #2aa8cc;
    text-transform: uppercase;
  }

  .prod-glass {
    position: absolute;
    bottom: 0;
    right: 12.5%;
  }

  .bt-line-prod {
    background-color: #e5e5e5;
    height: 1px;
    width: 80%;
  }
}

/**
 * Single - Gadgets & USB Drives - Global styles
 */

.gadgets-product,
.usb-product {
  font-weight: 300;
  color: #808080;
  line-height: 1.65rem;

  .entry-title {
    font-weight: bold;
    font-size: 25px;
    color: $dark-heading;
  }

  b {
    color: $dark-heading;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .prod-img-bg {
    background-color: #f6f7f9;
  }

  .single-prod-top {
    margin-bottom: 145px;
  }

  .hero-heading {
    color: $dark-heading;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 2.25rem;
  }

  .prod-options-title {
    font-size: 17px;
    color: $dark-heading;
    font-weight: 600;
  }

  .option-wrapper {
    display: flex;
    flex-wrap: wrap;

    .option {
      color: #fff;
      background-color: $ligh-blue;
      border-color: $ligh-blue;
      border-radius: 5px;
      font-size: 13px;
      font-weight: bold;
      width: 100px;
      height: 46px;
    }
  }

  .colors {
    .color {
      width: 25px;
      height: 25px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid #85988f;
    }
  }
}

.Black {
  background-color: #242323;
}

.Red {
  background-color: #d11f2d;
}

.Yellow {
  background-color: #e1c341;
}

.Green {
  background-color: #009b2a;
}

.White {
  background-color: #fff;
}

.Pink {
  background-color: #ffacf2;
}

.Purple {
  background-color: #bc34ba;
}

.Brown {
  background-color: #69451b;
}

.Silver {
  background-color: #c0c0bf;
}

.Blue {
  background-color: #0085cf;
}

.Orange {
  background-color: #f9812a;
}

/**
 * Modal Styles
 **/

.modal-wrapper {
  .sub {
    color: $dark-heading;
    font-size: 18px;
    font-weight: bold;
  }

  .form-control {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid $ligh-blue;
    padding: 1.25rem 0.75rem;
  }

  .input-group {
    max-width: 267px;
    margin-top: -5px;

    .form-control {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      border: 2px solid $ligh-blue;
      border-radius: 10px 0 0 10px;
    }

    .btn-danger {
      color: #fff;
      background-color: $ligh-blue;
      border-color: $ligh-blue;
      border-radius: 0 10px 10px 0;
      font-size: 13px;
      font-weight: bold;
      padding: 0 2.35rem;
    }

    .qty-btn-like {
      color: #fff;
      background-color: $ligh-blue;
      border-color: $ligh-blue;
      border-radius: 0 10px 10px 0;
      font-size: 13px;
      font-weight: bold;
      padding: 0.5rem 4rem;
    }
  }

  .btn-danger {
    color: #fff;
    background-color: $ligh-blue;
    border-color: $ligh-blue;
    font-size: 13px;
    font-weight: bold;
    padding: 0.75rem 3.25rem;
  }
}

.modal-dialog {
  max-width: 832px;
  margin: 1.75rem auto;
  color: #445663;

  .modal-content {
    border-radius: 0.5rem;
  }

  .modal-header {
    display: block;
    border: 0;
  }

  .modal-title {
    font-size: 45px;
    font-weight: bold;
    color: $dark-heading;
  }

  .modal-body {
    padding: 0 75px 55px 75px;

    .modal-hero-text {
      padding: 0 30px;
      margin-bottom: 40px;
    }
  }

  .form-group {
    margin-bottom: 1.8rem;
  }
}
